<?xml version="1.0" encoding="utf-8"?>
<menu xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.2/engine/Shopware/Components/Plugin/schema/menu.xsd"
>
    <entries>
        <entry>
            <name>semknoxSearch</name>
            <label lang="en">SEMKNOX productsearch</label>
            <label lang="de">SEMKNOX Produktsuche</label>
            <controller>semknoxSearchBackendModule</controller>
            <action>index</action>
            <class>sprite--semknox</class>
            <parent identifiedBy="controller">ConfigurationMenu</parent>
            <onclick>Shopware.ModuleManager.createSimplifiedModule("semknoxSearchBackendModule", { "title": "SEMKNOX Produktsuche" })</onclick>
        </entry>
    </entries>
</menu>